
<div class="rel-pos h-100 row align-items-center text-center">
    <div class="col-6 no-padding">
        <img class="float-right img-fluid max-img-height" src="../assets/images/background/cong-img-1.jpg" />
    </div>
    <div class="col-6 no-padding">
        <img class="float-left img-fluid max-img-height" src="../assets/images/background/cong-img-2.jpg" />
    </div>
    <div class="abs-pos col-12 text-center">
        <h2>Congratulations! You won <span class="badge badge-warning"> {{freecoins}} </span> Coins.</h2>
        <button class="btn btn-light btn-next" (click)="Onback()">Back</button> 
    </div>
</div>